@use 'sass:math';
@use 'sass:map';
@import 'build/scss/variables';
@import 'functions';

@mixin mix-palette($paletteSeed: $color-palette-base) {
  $base-grey: map-get($paletteSeed, 'grey');
  $base-primary: map-get($paletteSeed, 'primary');
  $shade-count: map-get($paletteSeed, 'shade-count');
  $interval: math.floor(255 / $shade-count);

  $base: (
    'base': $base-grey,
    'shades': #242424 #484848 #6c6c6c #808080 #939393 #b7b7b7 #dbdbdb,
  );

  $palette-diff: palette-diff($base);
  @debug ($palette-diff);
  $grey-palette: create-palette($base-grey, $palette-diff);

  $palette: ();

  $palette: map.merge(
    $palette,
    (
      'grey': $grey-palette,
    )
  );

  $color-count: 12;
  $interval: 360deg / $color-count;

  @for $i from 1 through $color-count {
    $color-name: color-#{$i};
    $color: adjust-hue($base-primary, $interval * ($i - 1));
    $palette: map.merge(
      $palette,
      (#{$color-name}: create-palette($color, $palette-diff))
    );
  }

  :root {
    --white: #fff;
    --black: #000;
    @each $color, $shades in $palette {
      @for $i from 1 through length($shades) {
        $shade: nth($shades, $i);
        --#{$color}-#{$i}: #{$shade};
      }
    }
  }
}
